# REWRITE
<IfModule mod_rewrite.c>
	RewriteEngine On
</IfModule>

<FilesMatch "^[^.]+$">
  ForceType application/json
</FilesMatch>

Header set Content-Type "application/json" "expr=-z %{CONTENT_TYPE}"
